.play-list {
    height: 85vh;
    padding: 5px;
    display: grid;
    grid-template-columns: 25% auto 45%;
    transition: 1s;
}

.play-list.hide-favourites {
    grid-template-columns: 50px 30% auto;
    transition: 1s;
}
